/* ===================================================================
 * # Imports
 *
 * ------------------------------------------------------------------- */
/* ===================================================================
 * # Variables
 *
 * ------------------------------------------------------------------- */
/* ===================================================================
 * # Mixins
 *
 * ------------------------------------------------------------------- */
/* ===================================================================
 * # base style overrides
 *
 * ------------------------------------------------------------------- */
@font-face {
  font-family: "raiderfont";
  src: url(fonts/raiderfont.ttf);
}
* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #fff;
  background-color: #fff;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

a:link {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "raiderfont";
}

h2, h3, h4, h5 {
  font-family: "raiderfont";
  color: #1C1B20;
  word-spacing: 0.5rem;
  letter-spacing: -1px;
  margin-bottom: 1.5em;
}

span {
  font-family: "Playfair Display", serif;
}

p {
  color: #515056;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  background-color: #fff;
}
@media (min-width: 992px) {
  .wrapper {
    padding: 3em 3em 0em 3em;
  }
}

#site-content {
  background-color: #F3F4F5;
}

/* ===================================================================
 * # header styles
 *
 * ------------------------------------------------------------------- */
/* -------------------------------------------------------------------
 * ## header logo
 * ------------------------------------------------------------------- */
.header-logo {
  background-color: #fff;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
}

/* -------------------------------------------------------------------
 * ## main navigation
 * ------------------------------------------------------------------- */
a {
  text-decoration: none;
}
a:hover, a :focus {
  color: #cccccc;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color 0.35s ease;
}
.menu-left a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 5px;
  width: 0;
  transition: width 0s ease, background 0.35s ease;
}
.menu-left a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -15px;
  height: 5px;
  width: 0;
  background: #ffcd05;
  transition: width 0.35s ease;
}
.menu-left a:hover:before {
  width: 100%;
  background: #ffcd05;
  transition: width 0.35s ease;
}
.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0em 0em 0em;
  background: #fff;
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
@media (min-width: 992px) {
  header {
    padding: 0em 3em 0em 3em;
  }
}
header nav {
  margin: 0 auto;
}
header nav .logo {
  float: left;
}
header nav .logo:after {
  content: "";
  display: table;
  clear: both;
}
header nav ul {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 0.75rem;
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: 50px;
}
@media (min-width: 992px) {
  header nav ul {
    font-size: 0.65rem;
  }
}
header nav ul li {
  margin: 0.5em;
  display: inline-block;
  vertical-align: center;
}
@media (min-width: 768px) {
  header nav ul li {
    margin-left: 3rem;
  }
}
header nav ul li a {
  display: block;
  padding: 6px 4px 0 4px;
}
@media (min-width: 992px) {
  header nav ul li a {
    padding: 15px 0 15px 0;
  }
}

.active {
  color: #ffcd05;
}

.char {
  display: inline-block;
  position: relative;
}

.char::before {
  content: ".";
  display: inline-block;
  position: absolute;
  top: -1.2em;
  left: 0;
  text-align: center;
  width: 100%;
}

/* ===================================================================
 * # home
 *
 * ------------------------------------------------------------------- */
/* -------------------------------------------------------------------
 * ## home content
 * ------------------------------------------------------------------- */
.home-sec {
  border-radius: 0px;
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  height: calc(140vh);
  text-align: center;
  background-color: #f3f4f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
@media (min-width: 992px) {
  .home-sec {
    height: calc(95vh);
  }
}

.heading {
  position: relative;
  top: 25%;
  max-height: 700px;
  margin: 0px auto;
  text-align: center;
}
@media (min-width: 992px) {
  .heading {
    right: 20%;
    top: 40%;
  }
}
.heading .color-block {
  z-index: -1;
  left: 25%;
  bottom: -5%;
  position: absolute;
  width: 80px;
  height: 200px;
  background-color: #E8BB05;
}
@media (min-width: 460px) {
  .heading .color-block {
    left: 30%;
    width: 100px;
  }
}
@media (min-width: 768px) {
  .heading .color-block {
    left: 35%;
  }
}
@media (min-width: 992px) {
  .heading .color-block {
    left: 40%;
    font-size: 7vw;
  }
}

.heading-text {
  line-height: 0.8em;
  font-size: 5em;
  display: block;
  padding: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
  color: #E8BB05;
}
.heading-text span {
  font-family: "raiderfont";
  color: #000;
}

.wave {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}
/* ===================================================================
 * # home-about styles
 *
 * ------------------------------------------------------------------- */
.home-about {
  max-width: 270px;
  top: 50%;
  right: 10%;
  text-align: left;
  position: absolute;
}
@media (min-width: 576px) {
  .home-about {
    top: 55%;
    right: 15%;
    min-width: 500px;
  }
}
@media (min-width: 992px) {
  .home-about {
    min-width: 200px;
    top: 30%;
    right: 10%;
  }
}
.home-about a {
  color: #000;
  font-family: "Playfair Display", serif;
}

.underline--magical {
  background-image: linear-gradient(120deg, #E8BB05 0%, #FFD11B 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

.link {
  position: relative;
  letter-spacing: 0.1em;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(30%) rotate(180deg);
}
.underline--path {
  fill: transparent;
  stroke: #343a40;
  stroke-width: 2px;
}

/* -------------------------------------------------------------------
 * ## scroll-arrow
 * ------------------------------------------------------------------- */
.home-scroll {
  width: 0 auto;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 0;
  margin-left: 0;
  width: 50px;
}
@media (min-width: 576px) {
  .home-scroll {
    margin-left: 0;
    width: 50px;
  }
}

.arrow2 {
  color: #555;
  font-size: 1em;
  margin-top: 40px;
}

/* Trail */
.trail {
  position: relative;
}
.trail::after {
  content: "";
  position: absolute;
  background: #555;
  pointer-events: none;
}

/* Trail mixin */
/* Trail animation mixin */
/** Bottom **/
.trail--bottom {
  /*** Animation ***/
  /*** Hover animation ***/
}
.trail--bottom::after {
  bottom: 100%;
  margin-bottom: 1em;
  height: 3em;
  width: 1px;
  left: 50%;
}
@keyframes trail-animation-top {
  0% {
    transform-origin: top;
    transform: scaleY(1);
  }
  50% {
    transform-origin: top;
    transform: scaleY(0);
  }
  50.01% {
    transform-origin: bottom;
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
}
.trail--bottom.trail--animation::after {
  animation: trail-animation-top 2s infinite;
}
.trail--bottom.trail--animation-hover:hover::after {
  animation: trail-animation-bottom 2s infinite;
}

/* ===================================================================
 * # works styles
 *
 * ------------------------------------------------------------------- */
.subHeading {
  background-color: #151418;
  padding: 1em 0 1em 0;
}
.subHeading span {
  font-size: 1.6em;
}

.works-sec {
  color: #515056;
  border-radius: 0;
  text-align: center;
  background-color: #1c1b20;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .prjct-wrt-right {
    font-size: 1.5em !important;
    top: 9% !important;
  }

  .prjct-wrt-left {
    font-size: 1.5em !important;
    top: 9% !important;
  }

  .prjct-bg {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
  }

  .img-prjct {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .img-prjct:hover {
    border-radius: 0px !important;
  }
}
/*** PROJECT BACKGROUND ***/
.prjct-bg {
  background: transparent;
  margin-top: 5em;
  margin-bottom: 5em;
}

/*** HOME PAGE PROJECT COVER ***/
.img-prjct {
  border-radius: 0px;
  max-width: 100%;
  margin: 0;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
  animation: animatebottom 3s;
}

.img-prjct:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transform: scale(0.92);
  -ms-transform: scale(0.92);
  transform: scale(0.92);
}

.prjct-wrt-right {
  background-color: #E8BB05;
  position: absolute;
  right: 3%;
  top: 9%;
  font-family: "raiderfont";
  font-size: 2.6em;
  color: #000;
  font-weight: 700;
  max-width: 100%;
}

.prjct-wrt-left {
  background-color: #E8BB05;
  position: absolute;
  left: 3%;
  top: 9%;
  font-family: "raiderfont";
  font-size: 2.6em;
  color: #000;
  font-weight: 700;
  max-width: 100%;
}

.leftInfo a {
  color: #EAEAEA;
}
.leftInfo h5 {
  color: #E0E0E0;
}
@media (min-width: 576px) {
  .leftInfo h5 {
    margin: 5rem 0 1rem 0;
  }
}
@media (min-width: 992px) {
  .leftInfo h5 {
    margin: 10rem 0 3em 0;
  }
}
.leftInfo span {
  color: #515056;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.leftInfo span:after {
  content: "";
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
.leftInfo span:after {
  margin: 0 0 0 20px;
}

.rightInfo a {
  color: #EAEAEA;
}
.rightInfo h5 {
  color: #E0E0E0;
}
@media (min-width: 576px) {
  .rightInfo h5 {
    margin: 2rem 0 1rem 0;
  }
}
@media (min-width: 992px) {
  .rightInfo h5 {
    margin: 10rem 0 3em 0;
  }
}
.rightInfo span {
  color: #515056;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rightInfo span:before {
  content: "";
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
.rightInfo span:after {
  margin: 0 0 0 20px;
}

/* ===================================================================
* # skills styles
*
* ------------------------------------------------------------------- */
.skills {
  margin: 0;
  border-radius: 0;
  text-align: center;
  background-color: #1c1b20;
  color: #515056;
}
@media (min-width: 768px) {
  .skills {
    padding: 5rem 0px;
  }
}
.skills .skills-list {
  padding: 60px 0px;
}
.skills .skills-list i {
  font-size: 2em;
  margin: 10px;
}
@media (min-width: 576px) {
  .skills .skills-list i {
    display: inline-block;
    font-size: 2.5em;
    margin: 30px;
  }
}
@media (min-width: 992px) {
  .skills .skills-list {
    padding: 80px 40px;
  }
  .skills .skills-list i {
    font-size: 3.5em;
    margin: 35px;
  }
}

.skills-list-1 {
  padding: 0;
}

.skills-list-2 {
  padding: 0;
}

/* ===================================================================
* # about styles
*
* ------------------------------------------------------------------- */
.about {
  background-color: #f3f4f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
}
.about .about-header {
  text-align: center;
}
@media (min-width: 992px) {
  .about .about-header {
    margin-bottom: 6em;
  }
}
.about span {
  color: #000;
  font-size: 1.2em;
}

.about-gif {
  border: 5px solid #E8BB05;
  height: calc(45vh);
  min-height: 280px;
  min-width: 280px;
  max-height: 400px;
  background: linear-gradient(rgba(28, 27, 32, 0.7), rgba(28, 27, 32, 0.7)), url(https://media.giphy.com/media/pOZhmE42D1WrCWATLK/giphy.gif);
  background-attachment: relative;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
@media (min-width: 992px) {
  .about-gif {
    display: block;
    margin: 0 5%;
  }
}

.about-col {
  padding-top: 20px;
}
@media (min-width: 576px) {
  .about-col {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .about-col {
    margin: 0 2%;
  }
}
@media (min-width: 992px) {
  .about-col {
    margin: 0 1vw;
  }
}

/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */
.footer-sec {
  background-color: #fff;
  margin: 0;
  text-align: center;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #fff;
}

.social ul {
  padding: 0;
}
.social ul li {
  display: inline-block;
}

.email h5 {
  font-family: "Playfair Display", serif;
}

/* -------------------------------------------------------------------
 * ## socials
 * ------------------------------------------------------------------- */
.socials {
  display: block;
  position: fixed;
  top: 35%;
  left: 0;
  z-index: 3;
  width: 3em;
}
.socials i {
  margin: 2em 1em;
}

.hovicon {
  position: absolute;
  display: block;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  margin: 10px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: #000;
}

.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hovicon:before {
  speak: none;
  font-size: 13px;
  line-height: 60px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

/* Effect 4 */
.hovicon.effect-4 {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 2px black;
}

.hovicon.effect-4:before {
  line-height: 22px;
}

.hovicon.effect-4:after {
  top: -2px;
  left: -2px;
  padding: 0;
  z-index: 10;
  border: 2px dashed #000;
}

.hovicon.effect-4:hover {
  box-shadow: 0 0 0 0 black;
  color: #000;
}

.hovicon.effect-4:hover i {
  color: #000;
}

/* Effect 4b */
.hovicon.effect-4:hover {
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.hovicon.effect-4:hover:after {
  -webkit-animation: spinAround 9s linear infinite;
  -moz-animation: spinAround 9s linear infinite;
  animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinAround {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
